@import '~helpers/styles/globals.scss';
@import '~helpers/styles/normalize.scss';

body {
  font-family: "Avenir Next Regular", "Avenir Next", "Avenir", sans-serif, serif;
  font-size: 16px;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 17px;
  font-family: $fontFamilyBold;
}

h2 {
  font-size: 16px;
  font-family: $fontFamilyBold;
}

.page {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page__content-wrap {
  flex: 1 auto;
  overflow-y: auto;
}

.page__content {
  max-width: 1200px;
  margin: auto;
}

.page__header {
  background: $lime-green;
  color: $white;
  padding: 24px 0 6px;
}

.page__header-contain {
  position: relative;
  margin: auto;
  max-width: 1200px;
}

.page__heading {
  margin: 0;
  font-weight: normal;
  text-align: center;
  line-height: 36px;
}

.page__header-action {
  display: block;
  position: absolute;
  bottom: 0;

  &--back {
    bottom: 6px;
    left: $mobileGutterSpacing;
    width: 26px;

    img {
      height: 26px
    }
  }

  &--map {
    right: $mobileGutterSpacing;
    width: 36px;
  }

  button:focus {
    outline-color: $white;
  }
}

.page__icon-button {
  display: block;
  border: none;
  background: none;
  padding: 0;

  img {
    display: block;
  }
}
